[mysqld]

binlog_transaction_dependency_tracking = WRITESET
enforce_gtid_consistency               = ON
gtid_mode                              = ON
sql_require_primary_key                = OFF
binlog_expire_logs_seconds             = 604800

ssl_ca   = /etc/mysql/ssl/crt/ca.crt
ssl_cert = /etc/mysql/ssl/crt/server.crt
ssl_key  = /etc/mysql/ssl/key/server.key

# Connections fix
max_connections = 2000

# MyISAM
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 2M
join_buffer_size = 2M

# Innodb
innodb_buffer_pool_size = 2G

